﻿<!DOCTYPE html>
<html>
    <head>
        <title>DominicScanlanSite</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Dominic Scanlan">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
	    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
        <link href="css/animate.css" rel="stylesheet" type="text/css" />
        <link href="css/owl_carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="css/owl_carousel/owl.theme.css" rel="stylesheet" type="text/css" />
        
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/responsive.css" rel="stylesheet" type="text/css" />
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
</head>
<body ng-app="miniMe">

<!-- Our Website Content Goes Here -->
<div ng-include='"templates/header.html"'></div>
<div class="page {{ pageClass }}" ng-view></div>
<div ng-include='"templates/footer.html"'></div>

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/owl_carousel/owl.carousel.js" type="text/javascript"></script>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>

<script src="js/ng-map.min.js" type="text/javascript"></script>


<script src="js/main.js" type="text/javascript"></script>

</body>
</html>
