﻿<section id="section4" class="cd-section">
		<div class="container">
          <div class="row">
           <div class="col-md-12">
		    <h1>Contact</h1>
                <div class="box-content contact">
                    <!-- <div class="col-md-6 c-info"><p><i class="fa fa-phone"></i>+41 345 376 284</p></div> -->
                    <div class="col-md-6 c-info"><p><i class="fa fa fa-map-marker"></i>Winsford, Cheshire, UK</p></div>
                    <div class="col-md-6 c-info"><p><i class="fa fa-envelope-o"></i>dominicscanlan@hotmail.com</p></div>
                    <form id="contact_form" class="form email-form" method="post" action="" autocomplete="off">
                      <div class="col-md-6">
                        <input type="text" name="subject" id="subject" class="input-contact"  placeholder="Subject"/>
                        <input type="text" name="name" id="name" class="input-contact"  placeholder="Name"/>
                        <input type="email" name="email" class="input-contact"  id="email" placeholder="E-mail"/>
                        
                      </div>
                      <div class="col-md-6">
                        <textarea type="text" name="message" id="message" class="input-contact" placeholder="Message" cols="30" rows="7"></textarea>
                        <button type="submit" class="btn submit-contact"><i class="fa fa-envelope-o"></i>SUBMIT</button>
                        <p class="success">Your message has been sent successfully.</p>
                        <p class="error">E-mail must be valid and message must be longer than 20 characters.</p>
                      </div>
                    </form>
                </div>
            </div>
		  </div>
      </div>
	</section><!-- cd-section -->

    <section id="section5" class="cd-section">
    <!--Google Maps-->
            <div id="map_container" >
                
			    <map center="53.1660339,-2.4774715" zoom="8" pan-control="true" map-type-control="true" zoom-control="true">
                    <marker position="53.1660339,-2.4774715" on-click="click()" title="Click to zoom"></marker> 
                </map>


                <div class="cover-map">
                  <div class="content-map"><img src="images/map.png" alt="" /></div>
                  <div class="mm-open">Open the map <i class="fa fa-angle-down"></i></div>
                  <div class="mm-close">Close the map <i class="fa fa-angle-up"></i></div>
                </div>
		    </div>
    </section>

    <script>
        /********************************************
        EMAIL CONTROL
        ********************************************/

        $(function () {
            "use strict";
            $('#contact_form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var name = $("#name").val();
                var email = $("#email").val();
                var text = $("#message").val();
                var dataString = 'name=' + name + '&email=' + email + '&message=' + text;
                var proceed = true;
                if (name == "") {
                    $('input[name=name]').css('border-color', '#e41919');
                    proceed = false;
                }
                if (email == "") {
                    $('input[name=email]').css('border-color', '#e41919');
                    proceed = false;
                }

                if (text == "") {
                    $('textarea[name=message]').css('border-color', '#e41919');
                    proceed = false;
                }
                //        if (proceed) {
                function isValidEmail(emailAddress) {
                    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                    return pattern.test(emailAddress);
                };
                if (isValidEmail(email) && proceed) {
                    $.ajax({
                        type: 'POST',
                        url: "contact_form/contact_process.php",
                        data: dataString,
                        success: function () {
                            $('.success').fadeIn(1000);
                            $("#name").val("");
                            $("#email").val("");
                            $("#message").val("");
                        }
                    });
                } else {
                    $('.error').fadeIn(1000);
                }
                //        }
            });
        });

    </script>

    <script>
        $(".cover-map").on("click", function () {
            $(this).toggleClass("map-active");
            $(this).find(".mm-open").toggle();
            $(this).find(".mm-close").toggle();
        });
    </script>