﻿ <!--SECTION EXPERIENCES-->

	<section id="section3" class="cd-section">
		<div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
		        <h1>Experiences</h1>
                <div class="col-md-6">
                    <div class="box-text">
                            <h2>WHAT I KNOW</h2>
                            <p>I have a solid background in server side developement with .Net C# and have worked as a web developer
                            since 2002. 
                            </p>
                            <p class="slogan">" Creativity requires the courage to let go of certainties "</p>
                            <img class="signature" src="images/signature.jpg" alt="" />
                        </div>
                </div>
                <div class="col-md-6">
				    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
					
                        <div class="box-text">
                        <h2>MY Skills</h2>
					    <div class="skills-box">
							    <div class="skills-progress">
								    <p>Develope<span>95%</span></p>
								    <div class="meter nostrips develope">
									    <p style="width: 95%"></p>
								    </div>
								    <p>Design<span>75%</span></p>
								    <div class="meter nostrips design">
									    <p style="width: 75%"></p>
								    </div>
								    <p>Branding<span>80%</span></p>
								    <div class="meter nostrips branding">
									    <p style="width: 80%"></p>
								    </div>
								    <p>Web applications<span>90%</span></p>
								    <div class="meter nostrips web-applications">
									    <p style="width: 90%"></p>
								    </div>
							    </div>
						    </div>
                        </div>
				    </div>
			    </div>
              </div>
            </div>
		  </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Angularjs Developer<span class="data">2013 - present</span></h2>
                        <p>Sole developer and techical contact building an inhouse application for lead managerment and quality assurance. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Mobile Develoer<span class="data">2008 - 2013</span></h2>
                        <p>Developed windows mobile CE application, which was then progressed to an angularjs &amp; html5 cross browser application utiliing indexeddb. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data">2007 - 2008</span></h2>
                        <p>.Net developer creating solutions for data dristribution for inhouse application for conveyancing firm.</p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data">2006 - 2007</span></h2>
                        <p>.Net c# developer for a major betting firm in the north west working in the pools team.  </p>
                   </div>
                 </div>
              </div>
         </div>
      </div>
	</section><!-- cd-section -->