﻿    <section id="section6" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
            <footer class="box-content">
			    <div class="footer-logo"><img src="images/logo_preload.png" alt="" /></div>
                <div class="footer-social">
                    <!-- <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a> -->
                    <a href="https://twitter.com/DominicScanlan" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <!-- <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                    <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a> -->
                </div>
		    </footer>
          </div>
         </div>
      </div>
    </section>